<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <form id="myCompanyForm" method="post" action="{{ path("my_form") }}">
                <label for="name">Nom de l'entreprise</label>
                <input type="text" id="name" name="name" required>

                <button type="submit">Envoyer</button>
            </form>
            <div id="results" style="background-color: whitesmoke; border-radius: 2rem; padding: 3rem; margin: 2rem; display: flex; flex-direction: column; align-items: center">
                {% for company in resultsCompanies %}
                    <div class="companySelected" data-id="{{ company.id }}" style="
                    display: flex;
                    flex-direction: column;
                    background-color: #7DA0B1;
                    padding: 1rem;
                    border-radius: 1rem;
                    margin-top: 2rem;
                    width: 30rem;
                    color: whitesmoke;
                    ">
                        <style>
                            .companySelected:hover {
                                border-radius: 0;
                                cursor: pointer;
                            }
                        </style>

                        <div style="display: flex; margin: 0.4rem">
                            <p style="font-weight: bold">Company name : </p>
                            <p>{{ company.name }}</p>
                        </div>
                        <div style="display: flex; margin: 0.4rem">
                            <p style="font-weight: bold">Company address : </p>
                            <p>{{ company.address }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </body>

    <script>
        const route = "{{ path('company_details', {'siren': 'company_siren'}) }}";

        $(document).ready(function() {
            $(".companySelected").click(function() {
                const companyId = $(this).data("id")
                window.location.href = route.replace("company_siren", companyId)
            });
        });
    </script>
</html>
